*{
    padding:0;
    margin: 0;
    font-family:sans-serif;
}
body{
    background:#333 ;
    display: flex;
    justify-content: center;
}
.container{
    background:#222;
    width:100vw;
    margin: 20px auto;
    padding:20px;
    border-radius:10px;
    display: grid;
    grid-template-columns:5fr 3fr;
}
.img{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;

}
.img img{
    max-width: 70vw;
    max-height:70vh;
}
.upload input{
    display:none;
}
.upload label{
    color:#fff;
    padding:8px 20px ;
    border:2px #fff dashed;
    cursor: pointer;
}
.filter ul,.filter ul li {
    display: flex;
    flex-direction:column;
    gap: 25px;
    direction: rtl;
}
.filter ul li label{
    color:#fff;
}
.filter ul li:last-child{
flex-direction: row;
justify-content: space-around;
color: #fff;
}

.filter ul li a, span{
    color:#fff;
    padding:10px 10px;
    background: #060;
    cursor: pointer;
}
@media screen and(max-width:650px){
.container{
    grid-template-columns:1fr ;
    gap:50px;
}
    
}